<html>
  <head>
    <title>C. Saternos Oracle Visualization Demos</title>
  </head>
<body>
  <table>
    <tr>
      <td>
        <img src='http://groups.google.com/group/javascript-information-visualization-toolkit/icon'> 
      </td>
      <td>  
        <img src='http://oracleimg.com/ocom/groups/systemobject/@mktg_admin/@ocom_admin/documents/digitalasset/ora_logo_small.gif'>
      </td>
      <td style='vertical-align: middle; font-size: 16pt'>  
      Data Visualizations of Oracle HR Schema Employee Hierarchy
      </td>
    </tr>
  </table>
  <%=params['str']%>
</body>
</html>